.top {
    width: 100%;
    height: 60px;
    background-color: #595260;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;
}

.topLeft, .topRight{
 flex: 3;
 display: flex;
 justify-content: center;
 align-items: center;
}

.topCenter{
    flex: 6;
}

.topList{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

.topList > .topListItem{
   margin-right: 3%;
   font-size: 1.5rem;
   font-weight: 300;
   cursor: pointer;
   color: #f0e7e7;
}

.link{
    text-decoration: none;
    color: #f0e7e7;
}

.topIcon{
margin-right: 10px;
height: 5%;
color: #f0e7e7;
}

.topSearchIcon{
    font-size: 18px;
    margin-left: 20px;
    color: #6666;
    cursor: pointer;
}

.topImage{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #979696;
}

.rightTopList{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

.rightTopList > .RightTopListItem{
    margin-right: 15%;
    font-size: 1.5rem;
    font-weight: 300;
}

.name{
    text-decoration: none;
    cursor: pointer;
    position: relative;
    bottom: 12px;
    left: 12px;
    font-family: 'Poppins', sans-serif;
    color: #f0e7e7;
    font-size: 1rem;
    font-weight: 300;
}

.logo{
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    font-weight: 200;
    color: transparent;
    background-image: linear-gradient(90deg, #fc354c, #0abfbc);
   -webkit-text-stroke:  2px;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: back 60s linear infinite;
}

@keyframes back{
    100%{
      background-position: 2000px 0;
    }
  }

