* {
    margin: 0;
    padding: 0;
    /* scrollbar-width: thin;
    scrollbar-color: red green; */

}

.link{
    text-decoration: none;
    color: inherit;
}

.body{
    margin: 0;
    padding: 0;
}