.sideBar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px
}

.wrapper{
    /* background: #EDEDED; */
    /* border-radius: 10%; */
    /* border: rgb(146, 146, 146) 1px solid; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sideBarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

.sideBarTitle{
    border-top: 2px solid #a7a4a4;
    border-bottom: 2px solid #a7a4a4;
    margin: 10px;
    padding: 5px;
    width: 50%;
    text-align: center;
    font-size: 12px;
    font-family: 'varela Round',sans-serif;
    color: #222;
    font-weight: 600;
}

.sideBar > .wrapper > .sideBarItem > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    padding: 15px;
}

.sideBar > .wrapper > .sideBarItem > p{
    padding: 5px;
}


.sideBar > .sideBarItem > p{
    text-align: center;
    font-size: 12px;
    font-family: 'varela Round',sans-serif;
    color: #222;
    font-weight: 500;
}

.catogoriesListItem{
    list-style-type: none;
}

.catogoriesList > li{
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 12px;
    font-family: 'varela Round',sans-serif;
    color: #222;
    font-weight: 500;
    margin-top: 15px;
}

.sideBarTitle{
    margin-top: 15px;
}

.socialIcon{
    font-size: 20px;
    padding: 15px;
    margin-top: 5px;
    color: #222;
}

.myInfo{
    text-align: center;
    font-family: 'varela Round',sans-serif;
    font-size: 12px;
    color: #222;
}

.cat{
    text-decoration: none;
    color: inherit;
}