.post{
    width: 450px;
    margin: 0 25px 40px 25px;
    /* border: rgb(146, 146, 146) 1px solid; */
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.postImage{
    width: 450px;
    height: 325px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.postInfo{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.postCat{
font-family: "Varela Round", sans-serif;
font-size: 11px;
line-height: 20px;
margin-top: 25px;
margin-right: 10px;
color: #be9656;
}

.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    color: #444;
    font-weight: 700;
    font-size: 24px;
    margin-top: 15px;
    cursor: pointer;
}
.date{
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 13px;
    color: rgb(97, 96, 96);
    margin-top: 3px;
}
.postDesc{
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    height: 100px;
}